{% load static bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YilanTerbiyecisi 00 01 10 11</title>
    {% bootstrap_css %}
</head>
<body>
<nav class="navbarnavbar-light bg-faded" style="background-color: #017081" >
    <h3 align="center"  ><a href="{% url "home" %} ">Anasayfa</a>
    <a href="{% url "home" %}">Hakkımızda</a>
    <a href="{% url "newnews" %}">Haberler</a>
    <a href="{% url "contact" %}">İletişim</a></h3>
</nav>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

{% if request.user.is_authenticated %}
    Merhaba {{ request.user.username }}, Çıkış yapmak için
    <form action="{% url "logout" %}" method="post" style="display:inline;">
    {% csrf_token %}
    <input type="hidden" value="/" name="next">
    <button type="submit" class="btn btn-xs btn-default" >tıklayın</button>
    </form>
{% else %}
    Giriş yapmak için <a href="{% url "login" %}">tıklayın</a>
    Kayıt olmak için <a href="{% url "register" %}">tıklayın</a>
{% endif %}
<ul>
</nav>
    {% for kategori in categories %}
        <li><a href="{% url "category_detail" slug=kategori.slug %}">{{kategori.name}}</a></li>
    {% endfor %}
</ul>
<hr>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% block body %}
{% endblock %}
    </div>
</div>
<div>
    <img src="yılanterbiyecisi.jpeg">
</div>
{% bootstrap_javascript jquery=1 %}
<script src="{% static "blog/js/main.js" %}"></script>
</body>
</html>

