{% load static bootstrap3 gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YilanTerbiyecisi 00 01 10 11</title>
    {% bootstrap_css %}
</head>
<body>
<h3><a href="{% url "home" %}">Anasayfa</a></h3>
{% if request.user.is_authenticated %}
    <a href="{% gravatar_profile_url request.user.email %}">{% gravatar request.user.email 150 %}</a>
    Merhaba {{ request.user.username }}, Çıkış yapmak için
    <form action="{% url "logout" %}" method="post" style="display:inline;">
    {% csrf_token %}
    <input type="hidden" value="/" name="next">
    <button type="submit" class="btn btn-xs btn-default" >tıklayın</button>
    </form>
{% else %}
    Giriş yapmak için <a href="{% url "login" %}">tıklayın</a>
    Kayıt olmak için <a href="{% url "register" %}">tıklayın</a>
{% endif %}
<ul>
    {% for kategori in categories %}
        <li><a href="{% url "category_detail" slug=kategori.slug %}">{{kategori.name}}</a></li>
    {% endfor %}
</ul>
<hr>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% block body %}
{% endblock %}
    </div>
</div>
{% bootstrap_javascript jquery=1 %}
<script src="{% static "blog/js/main.js" %}"></script>
</body>
</html>

